__pycache__/minmax_player.cpython-36.pyc
__pycache__/eval_func.cpython-36.pyc
__pycache__/game_controller.cpython-36.pyc
__pycache__/human_player.cpython-36.pyc
__pycache__/minmax_ab_player.cpython-36.pyc
__pycache__/random_player.cpython-36.pyc
__pycache__/rules_python.cpython-36.pyc
__pycache__/tracer.cpython-36.pyc
logs/minimax d2 nco ab-p0-10.gv
logs/minimax d2 nco ab-p0-10.svg
logs/minimax d2 nco ab-p0-11.gv
logs/minimax d2 nco ab-p0-11.svg
logs/minimax d2 nco ab-p0-12.gv
logs/minimax d2 nco ab-p0-12.svg
logs/minimax d2 nco ab-p0-13.gv
logs/minimax d2 nco ab-p0-13.svg
logs/minimax d2 nco ab-p0-14.gv
logs/minimax d2 nco ab-p0-14.svg
logs/minimax d2 nco ab-p0-15.gv
logs/minimax d2 nco ab-p0-15.svg
logs/minimax d2 nco ab-p0-16.gv
logs/minimax d2 nco ab-p0-16.svg
logs/minimax d2 nco ab-p0-17.gv
logs/minimax d2 nco ab-p0-17.svg
logs/minimax d2 nco ab-p0-18.gv
logs/minimax d2 nco ab-p0-18.svg
logs/minimax d2 nco ab-p0-19.gv
logs/minimax d2 nco ab-p0-19.svg
logs/minimax d2 nco ab-p0-2.gv
logs/minimax d2 nco ab-p0-2.svg
logs/minimax d2 nco ab-p0-20.gv
logs/minimax d2 nco ab-p0-20.svg
logs/minimax d2 nco ab-p0-21.gv
logs/minimax d2 nco ab-p0-21.svg
logs/minimax d2 nco ab-p0-22.gv
logs/minimax d2 nco ab-p0-22.svg
logs/minimax d2 nco ab-p0-3.gv
logs/minimax d2 nco ab-p0-3.svg
logs/minimax d2 nco ab-p0-4.gv
logs/minimax d2 nco ab-p0-4.svg
logs/minimax d2 nco ab-p0-5.gv
logs/minimax d2 nco ab-p0-5.svg
logs/minimax d2 nco ab-p0-6.gv
logs/minimax d2 nco ab-p0-6.svg
logs/minimax d2 nco ab-p0-7.gv
logs/minimax d2 nco ab-p0-7.svg
logs/minimax d2 nco ab-p0-8.gv
logs/minimax d2 nco ab-p0-8.svg
logs/minimax d2 nco ab-p0-9.gv
logs/minimax d2 nco ab-p0-9.svg
logs/minimax d2 nco ab-p1-10.gv
logs/minimax d2 nco ab-p1-10.svg
logs/minimax d2 nco ab-p1-11.gv
logs/minimax d2 nco ab-p1-11.svg
logs/minimax d2 nco ab-p1-12.gv
logs/minimax d2 nco ab-p1-12.svg
logs/minimax d2 nco ab-p1-13.gv
logs/minimax d2 nco ab-p1-13.svg
logs/minimax d2 nco ab-p1-14.gv
logs/minimax d2 nco ab-p1-14.svg
logs/minimax d2 nco ab-p1-15.gv
logs/minimax d2 nco ab-p1-15.svg
logs/minimax d2 nco ab-p1-16.gv
logs/minimax d2 nco ab-p1-16.svg
logs/minimax d2 nco ab-p1-17.gv
logs/minimax d2 nco ab-p1-17.svg
logs/minimax d2 nco ab-p1-18.gv
logs/minimax d2 nco ab-p1-18.svg
logs/minimax d2 nco ab-p1-19.gv
logs/minimax d2 nco ab-p1-19.svg
logs/minimax d2 nco ab-p1-2.gv
logs/minimax d2 nco ab-p1-2.svg
logs/minimax d2 nco ab-p1-20.gv
logs/minimax d2 nco ab-p1-20.svg
logs/minimax d2 nco ab-p1-21.gv
logs/minimax d2 nco ab-p1-21.svg
logs/minimax d2 nco ab-p1-22.gv
logs/minimax d2 nco ab-p1-22.svg
logs/minimax d2 nco ab-p1-3.gv
logs/minimax d2 nco ab-p1-3.svg
logs/minimax d2 nco ab-p1-4.gv
logs/minimax d2 nco ab-p1-4.svg
logs/minimax d2 nco ab-p1-5.gv
logs/minimax d2 nco ab-p1-5.svg
logs/minimax d2 nco ab-p1-6.gv
logs/minimax d2 nco ab-p1-6.svg
logs/minimax d2 nco ab-p1-7.gv
logs/minimax d2 nco ab-p1-7.svg
logs/minimax d2 nco ab-p1-8.gv
logs/minimax d2 nco ab-p1-8.svg
logs/minimax d2 nco ab-p1-9.gv
logs/minimax d2 nco ab-p1-9.svg
c++/x64/Debug/gra_w_pana.tlog/link.write.1.tlog
c++/.vs/c++/v15/.suo
c++/.vs/c++/v15/Browse.VC.db
c++/.vs/gra_w_pana/v15/.suo
c++/.vs/gra_w_pana/v15/Browse.VC.db
c++/.vs/gra_w_pana/v15/Browse.VC.opendb
c++/.vs/gra_w_pana/v15/ipch/f5042eed3e7bf9ac.ipch
c++/x64/Debug/gra_w_pana.exe
c++/x64/Debug/gra_w_pana.ilk
c++/x64/Debug/gra_w_pana.log
c++/x64/Debug/gra_w_pana.obj
c++/x64/Debug/gra_w_pana.pch
c++/x64/Debug/gra_w_pana.pdb
c++/x64/Debug/gra_w_pana.Build.CppClean.log
c++/x64/Debug/gra_w_pana_rules.obj
c++/x64/Debug/pch.obj
c++/x64/Debug/vc141.idb
c++/x64/Debug/vc141.pdb
c++/x64/Debug/gra_w_pana.tlog/CL.command.1.tlog
c++/x64/Debug/gra_w_pana.tlog/CL.read.1.tlog
c++/x64/Debug/gra_w_pana.tlog/CL.write.1.tlog
c++/x64/Debug/gra_w_pana.tlog/gra_w_pana.lastbuildstate
c++/x64/Debug/gra_w_pana.tlog/link.command.1.tlog
c++/x64/Debug/gra_w_pana.tlog/link.read.1.tlog
__pycache__/main.cpython-36.pyc
c++/gra_w_pana.vcxproj.user
.vscode/.ropeproject/config.py
__pycache__/HookeJeevesPatternSearch.cpython-36.pyc
c++/gra_w_pana.vcxproj.filters
c++/x64/Release/gra_w_pana.tlog/CL.read.1.tlog
c++/UnitTests/x64/Debug/UnitTests.log
c++/UnitTests/x64/Debug/UnitTests.pch
c++/UnitTests/x64/Debug/game_state_ut.obj
c++/UnitTests/x64/Debug/stdafx.obj
c++/UnitTests/x64/Debug/unittest1.obj
c++/UnitTests/x64/Debug/vc141.idb
c++/UnitTests/x64/Debug/vc141.pdb
c++/UnitTests/x64/Debug/UnitTests.tlog/CL.command.1.tlog
c++/UnitTests/x64/Debug/UnitTests.tlog/CL.read.1.tlog
c++/UnitTests/x64/Debug/UnitTests.tlog/CL.write.1.tlog
c++/UnitTests/x64/Debug/UnitTests.tlog/UnitTests.lastbuildstate
c++/UnitTests/x64/Debug/UnitTests.tlog/UnitTests.write.1u.tlog
c++/UnitTests/x64/Debug/UnitTests.tlog/link.3452.delete.1.tlog
c++/UnitTests/x64/Debug/UnitTests.tlog/link.43596.delete.1.tlog
c++/UnitTests/x64/Debug/UnitTests.tlog/link.58456.delete.1.tlog
c++/UnitTests/x64/Debug/UnitTests.tlog/link.60688.delete.1.tlog
c++/UnitTests/x64/Debug/UnitTests.tlog/link.60812.delete.1.tlog
c++/UnitTests/x64/Debug/UnitTests.tlog/link.command.1.tlog
c++/UnitTests/x64/Debug/UnitTests.tlog/link.read.1.tlog
c++/UnitTests/x64/Debug/UnitTests.tlog/link.write.1.tlog
c++/UnitTests/x64/Release/UnitTests.log
c++/UnitTests/x64/Release/vc141.pdb
c++/UnitTests/x64/Release/UnitTests.tlog/CL.command.1.tlog
c++/UnitTests/x64/Release/UnitTests.tlog/UnitTests.lastbuildstate
c++/UnitTests/x64/Release/UnitTests.tlog/unsuccessfulbuild
c++/x64/Debug/UnitTests.dll
c++/x64/Debug/UnitTests.lib
c++/x64/Debug/game_controller.obj
c++/x64/Debug/human_player.obj
c++/x64/Debug/lowcard_player.obj
c++/x64/Debug/minmax_ab_player.obj
c++/x64/Debug/random_player.obj
c++/x64/Release/game_controller.obj
c++/x64/Release/gra_w_pana.exe
c++/x64/Release/gra_w_pana.iobj
c++/x64/Release/gra_w_pana.ipdb
c++/x64/Release/gra_w_pana.log
c++/x64/Release/gra_w_pana.obj
c++/x64/Release/gra_w_pana.pch
c++/x64/Release/gra_w_pana.pdb
c++/x64/Release/gra_w_pana_rules.obj
c++/x64/Release/human_player.obj
c++/x64/Release/lowcard_player.obj
c++/x64/Release/minmax_ab_player.obj
c++/x64/Release/pch.obj
c++/x64/Release/random_player.obj
c++/x64/Release/vc141.pdb
c++/x64/Release/gra_w_pana.tlog/CL.command.1.tlog
c++/x64/Release/gra_w_pana.tlog/CL.write.1.tlog
c++/x64/Release/gra_w_pana.tlog/gra_w_pana.lastbuildstate
c++/x64/Release/gra_w_pana.tlog/gra_w_pana.write.1u.tlog
c++/x64/Release/gra_w_pana.tlog/link.command.1.tlog
c++/x64/Release/gra_w_pana.tlog/link.read.1.tlog
c++/x64/Release/gra_w_pana.tlog/link.write.1.tlog
c++/.vs/gra_w_pana/v15/ipch/dbaf802336d15673.ipch
gamelog.log
c++/design.txt
c++/.vs/gra_w_pana/v15/Solution.VC.db
c++/.vs/gra_w_pana/v15/Solution.VC.db-shm
c++/.vs/gra_w_pana/v15/Solution.VC.db-wal
c++/.vs/gra_w_pana/v15/ipch/a2edd7f8989fe6c.ipch
c++/.vs/gra_w_pana/v15/ipch/ba5f0075c4b19c0c.ipch
/c++/.vs/gra_w_pana/v15/ipch
/c++/GraWPanaZasady/x64
/c++/MinMaxABPlayer/x64/Debug
/c++/UnitTests/x64/Debug
/c++/x64
